@import "./variables.scss";

.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 18px 80px;
    box-shadow: 0px 4px 24px rgba(4, 36, 83, 0.16);

    display: flex;
    align-items: center;

    font-weight: 600;
    background: #fff;

    a{
        text-decoration: none;
    }

    &__brand {
        margin-right: 80px;
    }

    &__nav {
        .nav__item{
            color: #2D2A26;
            font-size: 18px;
            margin-right: 48px;

            transition: all .2s linear;

            &:hover{
                transition: all .2s linear;
                padding-bottom: 2px;
                border-bottom: 1px solid #2D2A26;
            }
        }
    }

    &__contacts {
        display: flex;
        align-items: center;
        margin-left: auto;

        .contacts__icons {
            .icons__item{
                margin-right:26px;
                cursor: pointer;
                svg{
                    height: 26px;
                }
            }
        }

        .contacts__phone {
            margin-right: 32px;
            font-size: 16px;
        }
    }

    @media screen and (max-width: 1550px) {
        padding: 18px 60px;
        justify-content: space-between;

        &__brand {
            margin-right: 0px;
        }

        &__nav{
            margin-right: 0px;

            .nav__item{
                margin: 0px 13px;
            }
        }

        &__contacts{
            margin-left: 0;

            .contacts__icons {
                .icons__item{
                    margin-right: 8px;
                }
            }
    
            .contacts__phone {
                margin-right: 22px;
                margin-left: 5px;
                font-size: 16px;
            }
        }
    }

    @media screen and (max-width: 1300px) {
        padding: 18px 30px;
    }

    @media screen and (max-width: 1200px) {
        &__brand {
            margin-right: 0px;
        }

        &__nav{
            margin-right: 0px;

            .nav__item{
                font-size: 16px;
                margin: 0px 10px;
            }
        }

        &__contacts{
            margin-left: 0;

            .contacts__icons {
                .icons__item{
                    margin-right: 8px;

                    svg{
                        height: 22px;
                    }
                }
            }
    
            .contacts__phone {
                margin-right: 22px;
                margin-left: 5px;
                font-size: 16px;
            }
        }
    }

    @media screen and (max-width: 1100px) {
        padding: 18px 20px;

        &__nav{

            .nav__item{
                margin: 0px 6px;
            }
        }
    }
}


