@import "./variables.scss";
@import "./mixins.scss";

.close{
    position: absolute;
    top: 32px;
    right: 32px;

    cursor: pointer;
}

.modal_bell{
    
    @include modal()

    
}

.modal__thanks{
    @include modal();

    .content{
        padding-top: 131px;
        padding-bottom: 141px;
    }

    &__text{
        margin-top: 24px;
    }

    .thanks__btn{
        @include button($blue,#fff,18px);
        max-width: 300px;
        width: 100%;
        margin-top: 44px;
    }
}