@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

@import "./fonts.scss";
@import './normalize.scss';
@import "./header.scss";
@import "./footer.scss";
@import "./mixins.scss";

// 🕷 

body{
    font-family: "FuturaPT",sans-serif;
    &::-webkit-scrollbar { // убрал скролл в Chrome
        width: 0;
    }
    -ms-overflow-style: none; // убрал скролл на IE
}

.blue_btn {
    @include button($blue,#fff,16px)
}

.left_line{

    position: absolute;
    top:0;
    bottom: 0;
    left: 80px;
    width: 1px;
    z-index: 100;
    background: rgba(4, 36, 84, .1);
}

.middle_line{

    position: absolute;
    top:0;
    bottom: 0;
    left: 50%;
    right: 50%;
    width: 1px;
    z-index: 100;
    background: rgba(4, 36, 84, .1);
}

.right_line{

    position: absolute;
    top:0;
    bottom: 0;
    right: 80px;
    width: 1px;
    z-index: 100;
    background: rgba(4, 36, 84, .1);
}

// First screen
.intro{
    position: relative;
    max-height: calc(90vh - 48px);

    .left_line, .middle_line, .right_line{
        background: #fff;
        opacity: 0.2;
    }

    .intro_1{
        background: url("../img/intro/1.png") center no-repeat;
    }

    .intro_2{
        background: url("../img/intro/3.png") center no-repeat;
    }

    .intro_3{
        background: url("../img/intro/5.png") center no-repeat;
    }

    .intro_4{
        background: url("../img/intro/4.png") center no-repeat;
    }

    &__slider{
    // position: relative;
    max-height: calc(90vh - 48px);
        
        height: 100%;
        .intro__slide{
            min-height: calc(90vh - 48px);
            img{
                width: 100%;
            }
        }
    }

    .offer{
        position: absolute;
        top:0;
        left: 0;
        bottom: 0;

        z-index: 100;
        width: 50vw;
        max-height: calc(90vh - 48px);

        background: rgba(45, 42, 38, .6);

        display: flex;
        align-items: center;
        // justify-content: center;
        padding-left: 57px;
        padding-right: 100px;

        .intro__pagination{
            bottom: 0;
            display: flex;
            flex-direction: column;
            max-width: 40px;

            .swiper-pagination-bullet{
                width: 40px;
                height: 40px;
                // padding: 11px 17px 11px 17px;
                color: white;
                font-family: "PenguinBold", sans-serif;
                font-size: 24px;
                text-align: center;
                padding: 9px 0px;
    
                position: relative;
    
                transition: all .2s linear;
                background: transparent;
                margin-bottom: 34px !important;
                opacity: 1;
                &::before{
                    content: " ";
                    transition: transform .6s linear;
                    border-radius: 50%;
                }
                outline: none;
            }
    
            .swiper-pagination-bullet-active{
                &::before{
                    content: " ";
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 100;
                    width: 100%;
                    height: 100%;
                    border: 1px solid white;
                    border-bottom-color: rgba(255, 255, 255, .2);
                    transform: rotate(405deg);  
                }
            }
        }

        .offer__info{
            color: #fff;
            margin-left: 60px;

            .info__suptitle{
                font-size: 46px;
                margin-bottom: 18px;
                line-height: 46px;
                font-weight: normal;
            }
            .info__title{
                font-size: 64px;
                line-height: 82px;
                margin-bottom: 33px;
            }
            .info__text{
                margin-bottom: 53px;
                font-weight: 400;
                font-size: 24px;
            }

            .info__btn{
                @include button(#fff, #2D2A26, 18px);
            }
        }
    }

    .arrow_down{
        position: absolute;
        bottom: 65px;
        left: 50%;
        transform: translate(-50%,0%);
        z-index: 100;
    }
}

.welcome{
    position: relative;
    
    
    min-height: calc(95vh - 48px);

    background: $blue;
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .left_line, .middle_line, .right_line{
        background: #fff;
        opacity: 0.1;
    }

    .welcome__main {
        flex: 0 1 32%;
        padding-left: 165px;
        .main__img {
            max-width: 538px;
            margin-bottom: 46px;
        }

        .main__title {
            font-size: 48px;
            line-height: 62px;
            font-weight: bold;
            margin-bottom: 17px;
        }

        .main__text {
            font-size: 20px;
            line-height: 26px;
            color: rgba(255, 255, 255, .8)
            
        }
    }

    .welcome__services{
        flex: 0 1 54%;
        display: flex;
        flex-wrap: wrap;
        padding-right: 70px;
        padding-top: 70px;
        padding-bottom: 80px;

        z-index: 101;

        margin-left: auto;

        .services__item {    
            flex: 0 1 33.333%;
            margin-bottom: 32px;
            padding-left: 28px;
            .item__img {
                margin-bottom: 14px;
            }

            .item__title{
                font-size: 23px;
                line-height: 31px;
                font-weight: 600;
                margin-bottom: 4px;
            }

            .item__text{
                font-size: 16px;
                line-height: 21px;
                font-weight: 400;
                color: rgba(255, 255, 255, .8)
            }
        }
    }   

    .waves{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: url('../img/welcome/waves.png');
        margin-top: 10px;
        height: 103px;
        opacity: .3;
    }
}

.restaurant{
    position: relative;
    padding: 169px 0px 135px 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .left_line, .middle_line, .right_line{
        background:  #042454;
        opacity: .1;
    }

    &__info {
        flex: 0 1 43.5%;
        padding-left: 80px;
        .info__waves {
            max-width: 364px;
            width: 100%;
            height: 44px;
            margin-bottom: 10px;
        }

        .info__title{
            font-weight: 700;
            font-size: 48px;
            line-height: 62px;
            color: #2D2A26;
            margin-bottom: 28px;
        }
        .info__text{
            font-size: 20px;
            line-height: 26px;
            color: rgba(45, 42, 38, .8);
            font-weight: 500;
            margin-bottom: 32px;
        }

        .info__btn{
            display: block;
            @include button(#042454,#fff,18px);
            margin-bottom: 16px;

            min-width: 260px;
        }
    }


    &__slider {
        flex: 0 1 50%;
        max-width: 50vw;

        @include slider();
    }

}

.events{
    position: relative;
    padding: 170px 0px 135px 160px;
    background: #ECECEC;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .left_line, .middle_line, .right_line{
        background:  #042454;
        opacity: .1;
    }

    &__info {
        flex: 0 1 41%;
        @include block_info()
    }

    &__slider {
        flex: 0 1 50%;
        max-width: 50vw;

        @include slider();
    }

    .bg_imgs{
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        width: calc(10vw*3);
        img{
            width: 100%;
        }
    }
}

.residence{
    position: relative;
    padding: 100px 80px 106px 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .left_line, .middle_line, .right_line{
        background:  #042454;
        opacity: .1;
    }

    &__info {
        flex: 0 1 45%;
        

        @include block_info();

        .info__title{
            margin-top: 6px;
            line-height: 116%;
        }

        .info__text{
            margin-bottom: 6px;
        }

        .info__hire{
            color: #898C8D;
            font-weight: 600;
            margin-bottom: 24px;
        }

        .info__events{
            width: 100%;
            justify-content: initial;
            margin-bottom: 29px;

            .events__item{
                flex: 0 1 49.5%;
            }
            
            &-flex-3{
                .events__item{
                    flex: 0 1 33%;
                }
            }
        }

        .info__btn{
            margin-top: 20px;
        }
    }

    &__slider {
        position: relative;
        max-width: 50vw;
        z-index: 200;
        height: 100%;

        @include slider();

        .slider__bullets{
            margin-left: 73px;
        }
        img{
            width: 100%;
        }
    }

    .cutter{
        position: absolute;
        bottom: 0;
        left: calc(50% - 246px * 2);

        display: flex;
    }
}

.perks{
    position: relative;
    padding: 170px 0px 135px 160px;
    background: #ECECEC;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .left_line, .middle_line, .right_line{
        background:  #042454;
        opacity: .1;
    }

    &__info{
        flex: 0 1 40%;
        padding-left: 80px;
        @include block_info();

        .info__waves {
            max-width: 364px;
            width: 100%;
            height: 44px;
            margin-bottom: 10px;
        }

        .info__title{
            font-weight: 700;
            font-size: 48px;
            line-height: 62px;
            color: #2D2A26;
            margin-bottom: 28px;
        }
        .info__text{
            font-size: 20px;
            line-height: 26px;
            color: rgba(45, 42, 38, .8);
            font-weight: 500;
            margin-bottom: 32px;
        }

        .info__btn{
            display: block;
            @include button(#042454,#fff,18px);
            margin-bottom: 16px;

            min-width: 260px;
        }
    }
    &__slider{
        flex: 0 1 50%;
        max-width: 50vw;

        @include slider();
    }
}

.news{
    position: relative;
    padding: 90px 80px 144px 80px;

    .left_line, .middle_line, .right_line{
        background: #042454;
        opacity: .1;
    }  

    .waves_container{
        max-width: 535px;
        width: 100%;
        margin: 0 auto;
    }

    .news__title{
        color: rgba(45, 42, 38, 1);
        margin: 6px 0px 54px 80px;

        font-weight: bold;
        font-size: 48px;
        line-height: 62px;
    }

    .news__more_btn{
        @include button(#fff,#2D2A26,18px);

        border: 1px solid #042454;
        margin-top: 70px;
        margin-left: 80px;

        &:hover{
            background: #042454;
            color: #fff;
        }
    }

    .news__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-right: 24px;

        .list__item{
            flex: 0 1 24%;

            .item__img {
                position: relative;
                width: 100%;
                img{
                    width: 95%;
                }
            }
    
            .item__date {
                position: absolute;
                bottom: -13px;
                left: 0;
                z-index: 2;
                font-weight: 450;
                font-size: 16px;
                line-height: 21px;

                letter-spacing: 0.12em;
                color: #fff;

                padding: 8px 16px 6px 16px;
                background: #042454;

            }
    
            .item__title {
                font-weight: 600;
                font-size: 20px;
                line-height: 26px;
                margin-top: 26px;
                margin-bottom: 8px;
                margin: 26px 0px 8px 16px;
            }
    
            .item__text {
                margin: 8px 0px 8px 16px; 
            }

            
        }  
    }
    .bg_imgs{
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;

        display: flex;
        img{
            max-height: 220px;
        }
    }
}

.instagram{
    position: relative;
    padding: 90px 0px 144px 0px;
    max-width: 100%;
    overflow-x: hidden;

    background: #ECECEC;

    &__info{
        padding-right: 160px;
        margin-bottom: 52px;

        @include block_info();

        display: flex;
        flex-direction: column;
        align-items: flex-end;
    
        .info__link{
            text-decoration: none;
            color: #042454;

            font-weight: 600;
            font-size: 32px;
            line-height: 41px;

            margin-right: 6px;
            margin-bottom: 5px;
        }   
    
        .link__waves{
            display: block;
            
        }
    }

    &__slider{
        position: relative;
        z-index: 300;

        @include slider();

        .instagram__slide{
            .slide__content{
                
                background: #fff;
                padding: 17px;
                width: 95%;
                .content__img{
                    margin-bottom: 20px;
                    img{
                        max-width: 100%;
    
                    }
                }
                .content__icons{
                    .icons__item{
                        margin-right: 18px;
                        cursor: pointer;
                    }
                    .active_icon{
                        path{
                            fill: #2D2A26;
                        }
                    }
                }

                .content__likes{
                    font-weight: 450;
                    font-size: 20px;
                    line-height: 26px;
                    margin-top: 11px;
                }
            }
            
        }

        .slider__bullets{
            max-width: 100%;
            margin-top: 38px;
            margin-left: 75px;
        }
    }
}

.how_can_find{
    position: relative;
    display: flex;

    .left_line, .middle_line, .right_line{
        background: #042454;
        opacity: .1;
    }  

    &__info{
        flex: 0 1 50%;

        .info__content{
            padding: 40px 30px 94px 160px;

            .info__title{
                color: #1E0E00;
                font-size: 48px;
                line-height: 62px;
                margin-bottom: 17px;
                margin-top: 60px;
            }

            .info__location{
                display: flex;

                .location__icon{
                    margin-top: 9px;
                }

                .location__text{
                    margin-left: 18px;
                    font-weight: 600;
                    font-size: 32px;
                    line-height: 41px;
                }
            }
        }

        .info__img{
            width: 100%;
        }
    }

    &__img{
        flex: 0 1 50%;

        background: url("../img/how_find/map.png") no-repeat center;
    }
}